{% extends 'base.html.twig' %}
{% block top_menu %}
    <ul class="nav pull-right top-menu">
        <li><a class="logout" href="login.html">Logout</a></li>
    </ul>
{% endblock %}
{% block sidebar %}
    <p class="centered">
        <a href="profile.html"><img src="{{ asset( 'img/ui-sam.jpg') }}"
                                    class="img-circle" width="80"></a>
    </p>
    <h5 class="centered">Sam Soffes</h5>
    <li class="mt">
        <a href="{{ path('listermedecinselonnote') }}" id="listmednote">
            <i class="fa fa-dashboard"></i>
            <span>Acceuil</span>
        </a>
    </li>
    <li class="mt">
        <a href="" id="rendezvous">
            <i class="fa fa-th"></i>
            <span>Mes Rendez vous</span>
        </a>
    </li>

    <li class="sub-menu">
        <a href="javascript:;">
            <i class="fa fa-comments-o"></i>
            <span>Forum</span>
        </a>
        <ul class="sub">
            <li><a href="{{ path('RepondreQuestion') }}" id="PoseQuest">Répondre aux questions</a></li>
            <li><a href="{{ path('afficherReponses') }}" id="MesQuest"> Mes réponses</a></li>
        </ul>
    </li>
{% endblock %}
